* {
    margin: 0;
    padding: 0;
    /* border: 0.01em solid red; */
}

header h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

#calculator {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    background-color: gainsboro;
    box-shadow: 0 0 0.7em black;
}
#display {
    flex: 1;
    text-align: right;
    border: 0.02em solid black;
    font-size: 3em;
}

.row {
    display: flex;
    height: 4em;
}

button {
    flex: 1;
    margin: 0.05em;
}
